<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/excelFileService.js"></script>
	<script src="js/xlsx.min.js"></script>
    <script src="js/xlsx.core.min.js"></script> 
  </head>

  <body ng-app="app">
		<h3>Excel sheet handler - Angular wrapping</h3>	
		<div ng-controller="myCtrl">
			<div>
				<input type="file" id="exfile" name="exfile" />
				<button class="button" ng-click="uploadFile('json')">upload File (JSON)</button>		
				<button class="button" ng-click="uploadFile('csv')">upload File (CSV)</button> <br>
			</div>
			<div>
				Give excel sheet url: <input type="text" ng-model="myUrl"/>
				<button class="button" ng-click="giveURL('csv')">give URL (CSV)</button>
				<button class="button" ng-click="giveURL('json')">give URL (JSON)</button>
			</div>	
				
				
		</div>
		
  </body>
</html>

	